
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
        <div class="d-flex justify-content-between">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a href="{{ path('home') }}" class="navbar-brand" width="100%">
            <img src="/img/logo.svg" class="navbar-brand-img" alt="logo" width="100%">
        </a>

        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('realisations') }}">Réalisations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('actualites') }}">Actualités</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Portfolio
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {%  for categorie in categorieNavbar() %}
                        <li class="dropdown-item dropend">
                            <a href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a>
                        </li>
                        {%  endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('a_propos')}}">A propos</a>
                </li>
            </ul>

            <a class="navbar-btn btn btn-sm btn-primary ms-auto" href="#">
                Me contacter
            </a>
        </div>
    </div>
</nav>
