{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    {% set img = categorie.peintures|last %}
    <section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7 text-center">
                    <h1 class="display-2">
                        {{ categorie.nom }}
                    </h1>
                    <p class="lead text-white-75 mb-4">
                        {{ categorie.description }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
        <div class="container">
            <div class="row" id="portfolio">

                {% for peinture in peintures %}
                    <div class="col-12 col-md-4 ">
                    <a class="card mb-7" href="#" data-bigpicture='{"imgSrc": "{{ peinture.file }}"}'>
                        <div class="card-zoom">
                            <img class="card-img-top" src="{{ peinture.file }}" alt="{{ peinture.nom }}"/>
                        </div>
                    </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
